# Duo compile files
*.o
*.mod
/*j-duo*.x
/debug.log
*genmod.f90

# Stray I/O files
/*.inp
/*.out
/*.states
/*.trans
/*.en
/*.pot

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# VSCode files
*.code-workspace
.vs/
.vscode/
*.json

# Vim files
*.swp

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Directories
/Duo.und/

# Environment files
venv/

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
